---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>My First Astro Site!</h1>
        <h1>About Me</h1>
        <div class="desktop-1 screen"> <div class="overlap-group">
            <img class="element" src="element png" alt= "Element"
            <h1 class="euro-medical-deutsch"›Euro medical
            deutschladn gmbh<br /><br />rthis is the sample text</h1> <img class="pngegg-1" src="pngegg-1.png" alt="pngegg
            1" /><img
            class="pngegg-1-1"
            src="pngegg-1-1.png"
            alt="pngegg (1) 1"
            [>
            </div>
            <header class= "header">
            <div class="logo">
            <div class="logo-1">
            <div class="euro">EMD LOGO</div>
            </div>
            </div>
            <div class="frame-375"›
            ‹div class= "nav-menu">
            ‹div class="nav-menu-item">
            <div class="products dmsans-medium-white-
            18px">Products</div>
            <img class="down-arrow" src= "down-arrow. svg"
            alt= "Down Arrow" />
            </div>
            <div class= "nav-menu-item">
            <div class="about-us dmsans-medium-white-
            18px">About Us</div>
            <img class="down-arrow" src="down-arrow. svg"
            alt="Down Arrow"
            />
            </div>
        <h2>... and my new Astro site!</h2>
      
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
	</body>
</html>
